.fix {
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.8);
}

.w {
    width: 970px;
    margin: 0 auto;
    line-height: 60px;
    overflow: hidden;
}

.w div {
    display: inline-block;
}

.w .logo {
    width: 40px;
    height: 40px;
}

.w .logo img {
    width: 100%;
    margin-top: -5px;
}

.w .name {
    font-size: 18px;
    color: #fff;
    margin-left: 10px;
}

.w div:nth-child(3) {
    float: right;
    color: #fff;
    font-size: 18px;
}

.container {
    width: 970px;
    margin: 0 auto;
}

.box1 {
    text-align: center;
    padding-top: 80px;
}

.box1 img {
    width: 50%;
    margin-top: 20px;
}

.box2 {
    text-align: center;
    height: 800px;
    background-color: #cdcfcd;
    overflow: hidden;
}

.box2 h1 {
    margin-top: 20px;
}

.box2 img {
    width: 30%;
    margin-top: 20px;
}

.box3 {
    text-align: center;
    margin-top: 60px;
    height: 750px;
}

.box3 h1 {
    margin-bottom: 20px;
}

.box3 img {
    width: 40%;
    margin-top: 20px;
}

.box4 {
    height: 200px;
    background-color: #cdcfcd;
    text-align: center;
}

ul {
    padding: 70px 0 0 160px;
}

ul li {
    float: left;
    width: 24%;
    height: 80px;
    margin-bottom: 20px;
    border-radius: 20px;
    text-align: center;
    margin-left: 30px;
    padding-top: 10px;
    perspective: 500px;
}

ul li a {
    display: inline-block;
    width: 100%;
    height: 80px;
}

ul li p {
    margin: 10px;
    color: #fff;
    font-size: 14px;
}

ul li:nth-child(1) {
    background-color: #000;
}

ul li:nth-child(1) img {
    width: 25px;
}

ul li:nth-child(2) {
    background-color: #00a8d8;
}

ul li:nth-child(2) img {
    width: 27px;
}

ul li:nth-child(3) {
    position: relative;
    transform-style: preserve-3d;
    transition: all .3s;
    overflow: hidden;
}

ul li:nth-child(3):hover {
    transform: rotateY(180deg);
}

ul li:nth-child(3) .front,
.back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100px;
    /* line-height: 80px;
    text-align: center; */
    background-color: #089801;
}

ul li:nth-child(3) .front {
    z-index: 1;
    padding-top: 10px;
}

ul li:nth-child(3) .front img {
    width: 30px;
}

.yy {
    opacity: 0;
}

ul li:nth-child(3) .back {
    transform: rotateY(180deg);
    padding-top: 15px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: rgb(0, 0, .8);
}

.x {
    width: 970px;
    margin: 0 auto;
    line-height: 100px;
    color: #fff;
    font-size: 14px;
    text-align: center;
}